<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ecom.ecommerce.myecommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:theme="@style/AppTheme">
        <activity android:name="ecom.ecommerce.myecommerce.ViewAllActivity"></activity>
        <activity android:name="ecom.ecommerce.myecommerce.MyAddressesActivity" />
        <activity
            android:name="ecom.ecommerce.myecommerce.AddAddressActivity"
            android:theme="@style/TealTheme" />
        <activity android:name="ecom.ecommerce.myecommerce.DeliveryActivity" />
        <activity android:name="ecom.ecommerce.myecommerce.OrderDetailsActivity" />
        <activity android:name="ecom.ecommerce.myecommerce.ProductDetailsActivity" />
        <activity android:name="ecom.ecommerce.myecommerce.CategoryActivity" />
        <activity android:name=".RozarPay"/>
        <activity
            android:name="ecom.ecommerce.myecommerce.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ecom.ecommerce.myecommerce.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ecom.ecommerce.myecommerce.LoginActivity" />
        <activity
            android:name="ecom.ecommerce.myecommerce.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>